name: Repo Sync

on:
  workflow_dispatch:
  
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/Repo-Sync.yaml'

  schedule:
    - cron: 3-53/60 8 * * *

jobs:
  immortalwrt:
    runs-on: ubuntu-latest
    steps:
      - name: Sleep Random Time
        run: sleep $(shuf -i 10-60 -n 1)
      - uses: actions/checkout@v2
      - name: Github ➡ Github
        id: immortalwrt-update
        run: |
          dir=$(pwd)
          bash Scripts/Sync.sh \
            https://github.com/immortalwrt/immortalwrt openwrt-21.02 \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/immortalwrt keep
          [ -f /tmp/update ] && mv /tmp/dest_repo $dir || echo "::set-output name=status::updated"
      - name: Set up Docker Buildx
        if: steps.immortalwrt-update.outputs.status != 'updated'
        uses: docker/setup-buildx-action@v1
      - name: Github Docker Login
        if: steps.immortalwrt-update.outputs.status != 'updated'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: kenzok78
          password: ${{ secrets.ACTION_SECRET }}
      - name: Build and push for frontend
        if: steps.immortalwrt-update.outputs.status != 'updated'
        uses: docker/build-push-action@v2
        with:
          context: ./dest_repo/frontend
          file: ./dest_repo/frontend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/kenzok78/immortalwrt:frontend
      - name: Build and push for backend
        if: steps.immortalwrt-update.outputs.status != 'updated'
        uses: docker/build-push-action@v2
        with:
          context: ./dest_repo/backend
          file: ./dest_repo/backend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/kenzok78/immortalwrt:backend

  jd-panel:
    runs-on: ubuntu-latest
    steps:
      - name: Sleep Random Time
        run: sleep $(shuf -i 10-60 -n 1)
      - uses: actions/checkout@v2
      - name: Github ➡ Github
        id: jd-panel-update
        run: |
          dir=$(pwd)
          bash Scripts/Sync.sh \
            https://github.com/whyour/qinglong master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/qinglong keep
          [ -f /tmp/update ] && mv /tmp/dest_repo $dir || echo "::set-output name=status::updated"
      - name: Set up Docker Buildx
        if: steps.jd-panel-update.outputs.status != 'updated'
        uses: docker/setup-buildx-action@v1
      - name: Github Docker Login
        if: steps.jd-panel-update.outputs.status != 'updated'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: kenzok78
          password: ${{ secrets.ACTION_SECRET }}
      - name: Build and push
        if: steps.jd-panel-update.outputs.status != 'updated'
        uses: docker/build-push-action@v2
        with:
          context: ./dest_repo
          file: ./dest_repo/docker/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/kenzok78/jd-panel:latest

  packages:
    runs-on: ubuntu-latest
    steps:
      - name: Sleep Random Time
        run: sleep $(shuf -i 10-60 -n 1)
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 'lts/*'
      - name: luci
        run: |
          bash Scripts/Sync.sh \
            https://github.com/immortalwrt/luci master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/luci ts2js
      - name: packages
        run: |
          bash Scripts/Sync.sh \
            https://github.com/immortalwrt/packages master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/packages
      - name: helloworld
        run: |
          bash Scripts/Sync.sh \
            https://github.com/fw876/helloworld master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/helloworld
      - name: openwrt-passwall
        run: |
          bash Scripts/Sync.sh \
            https://github.com/xiaorouji/openwrt-passwall packages \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/openwrt-passwall
      - name: starter-workflows
        run: |
          bash Scripts/Sync.sh \
            https://github.com/actions/starter-workflows main \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/starter-workflows
      - name: trojan
        run: |
          bash Scripts/Sync.sh \
            https://github.com/Jrohy/trojan master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/trojan
      - name: bf-package
        run: |
          bash Scripts/Sync.sh \
            https://github.com/zxlhhyccc/bf-package-master master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/bf-package-master
      - name: v2ray-plugin
        run: |
          bash Scripts/Sync.sh \
            https://github.com/teddysun/v2ray-plugin master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/v2ray-plugin
      - name: xray-plugin
        run: |
          bash Scripts/Sync.sh \
            https://github.com/teddysun/xray-plugin main \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/xray-plugin
      - name: ssh-action
        run: |
          bash Scripts/Sync.sh \
            https://github.com/appleboy/ssh-action master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/ssh-action
      - name: Xray_onekey
        run: |
          bash Scripts/Sync.sh \
            https://github.com/wulabing/Xray_onekey main \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/Xray_onekey
      - name: debugger-action
        run: |
          bash Scripts/Sync.sh \
            https://github.com/actions/javascript-action main \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/debugger-action
      - name: openwrt-bypass
        run: |
          bash Scripts/Sync.sh \
            https://github.com/kiddin9/openwrt-bypass main \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/openwrt-bypass
      - name: openmptcprouter-feeds
        run: |
          bash Scripts/Sync.sh \
            https://github.com/teddysun/v2ray-plugin master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/openmptcprouter-feeds
      - name: etcher
        run: |
          bash Scripts/Sync.sh \
            https://github.com/balena-io/etcher master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/etcher
      - name: asu
        run: |
          bash Scripts/Sync.sh \
            https://github.com/openwrt/asu master \
            https://${{ github.repository_owner }}:${{ secrets.ACTION_SECRET }}@github.com/kenzok78/asu    
